html, body {
    margin: 0;
    font-family: "Oxygen", sans-serif;
    height:100%;
}

header {
    background-color: #388AD6;
    margin: 0;
}

.main_menu a {
    display: inline-block;
    color: #EEE;
    text-decoration: none;
    padding: 30px;
}

.main_menu a:hover {
    background-color: #63B5DA;
    color: white;
    padding-bottom: 28px;
    border-bottom: 2px solid white;
}

.name {
    padding: 0 50px;
    color: white;
    font-family: 'Oleo Script', cursive;
    font-size: 200%;
}

.content_block {
    padding: 30px;
}

form {
    width: 800px;
    margin: auto;
    /*border: 1px solid red;*/
}

.controlButtonDiv {
    width: 175px;
    margin: auto;
}

.controlButton {
    display: inline-block;
    width: 75px;
    text-align: center;
    border: 2px solid #388AD6;
    border-radius: 10px;
    padding: 5px;
    margin: 4px;
    font-weight: bold;
    color: #1A2672;
    background-color: white;
}

.controlButton:hover {
    background-color: #8BDDFF;
}

.controlButton:active {
    background-color: #55A7C9;
}

.disableButton {
    border-color: #777777;
    color: #535353;
}

.disableButton:hover, .disableButton:active {
    background-color: #D5D5D5;
}

.finishButton {
    display: block;
    width: 100px;
    margin: auto;
}

.wrapper {
    min-height: 100%;
    position: relative;
}

.content_block {
    padding-bottom: 120px;
}

.hiddenBlock {
    display: none;
}

footer {
    background-color: #388AD6;
    padding: 20px 0 20px 0;
    text-align: center;
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
}

.footer_divs, .footer_divs div {
    display: inline-block;
    vertical-align: top;
}

.links {
    width: 32px;
    height: 32px;
    margin: 0 10px;
}

footer h3 {
    margin: 0;
    text-align: center;
}

.contacts {
    font-size: 85%;
}

.contacts div {
    margin: 0 10px;
}

mark {
    background-color: transparent;
}

.links_block {
    padding-top: 20px;
}

.copyright {
    padding-top: 25px;
}

.resultTable {
    margin: auto;
    width: 800px;
    text-align: center;
}

.resultTable tr:nth-child(2n) {
    background-color: #DAECFF;
}

.resultTable thead {
    background-color: #63B5DA;
}

.resultLine {
    width: 800px;
    margin: auto;
    padding: 20px 0;
}