html, body {
    margin: 0;
    font-family: "Oxygen", sans-serif;
    height:100%;
}

header {
    background-color: #388AD6;
    margin: 0;
}

.main_menu a {
    display: inline-block;
    color: #EEE;
    text-decoration: none;
    padding: 30px;
}

.main_menu a:hover {
    background-color: #63B5DA;
    color: white;
    padding-bottom: 28px;
    border-bottom: 2px solid white;
}

.name {
    padding: 0 50px;
    color: white;
    font-family: 'Oleo Script', cursive;
    font-size: 200%;
}

.content_block {
    padding: 30px 30px 120px 30px;
}

.wrapper {
    min-height: 100%;
    position: relative;
}

footer {
    background-color: #388AD6;
    padding: 20px 0 20px 0;
    text-align: center;
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
}

.footer_divs, .footer_divs div {
    display: inline-block;
    vertical-align: top;
}

.links {
    width: 32px;
    height: 32px;
    margin: 0 10px;
}

footer h3 {
    margin: 0;
    text-align: center;
}

.contacts {
    font-size: 85%;
}

.contacts div {
    margin: 0 10px;
}

mark {
    background-color: transparent;
}

.links_block {
    padding-top: 20px;
}

.copyright {
    padding-top: 25px;
}

